<% content_for :js_ready do %>
    <% 
      Point.include_root_in_json = false
      Coord.include_root_in_json = false
      point = midpoint(@path.coords)
     %>
    var point = <%=raw point.to_json() %>;
    
    map = setup_map(point, 1);
    polyline = new google.maps.Polyline();
    
    polyline.setMap(map);
    
    var coords = <%=raw @path.coords.to_json() %>;
    
    $.each(coords, function(index, coord){
      add_point_to_polyline(coord, polyline);
      add_edit_marker_to_map(coord, index);
    });
        
    google.maps.event.addListener(map, 'click', function(event){
      var i = polyline.getPath().getLength();
      var coord = {
        latitude: event.latLng.lat(),
        longitude: event.latLng.lng(),
        position: i+1
      };
      add_coord_to_form(coord, i, '#coord_data');
      add_point_to_polyline(coord, polyline);
      add_edit_marker_to_map(coord, i)
    });
<% end %>
<% content_for :js do %>
  var map; //The map!
  var polyline; //The line
  
  // Update the hidden fields with the
  // latitude and longitude.
  function update_fields(index, latlng){
    polyline.getPath().setAt(index, latlng);
    $('#path_coords_attributes_' + index + '_latitude').val(latlng.lat());
    $('#path_coords_attributes_' + index + '_longitude').val(latlng.lng());
    return true;
  }
  
  // Add a draggable marker to the map 
  // update a point on a polyline.
  function add_edit_marker_to_map(coord, index){
    var marker = add_point_to_map(coord, map, {draggable: true});
        
    google.maps.event.addListener(marker, "drag", function(event){
      console.log(index);
      update_fields(index, event.latLng);
    });
    return marker;
  }
<% end %>

<%= form_for([@layer, @path]) do |f| %>
  <% if @path.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@path.errors.count, "error") %> prohibited this path from being saved:</h2>

      <ul>
      <% @path.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :layer %><br />
    <%= f.collection_select :layer_id, Layer.all, :id, :name %>
  </div>
  
  <div id="coord_data">
  <%= f.fields_for :coords do |coord| %>
      <%= coord.hidden_field :latitude %>
      <%= coord.hidden_field :longitude %>
      <%= coord.hidden_field :position %>
  <% end %>
  </div>
  
  <%= map_canvas %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
