<% content_for :js_ready do %>
    <% 
      Point.include_root_in_json = false
      Coord.include_root_in_json = false
      point = midpoint(@path.coords)
     %>
    var point = <%=raw point.to_json() %>;
    
    var map = setup_map(point, 1);
    var polyline = new google.maps.Polyline();
    var map_bounds = new google.maps.LatLngBounds();
    
    polyline.setMap(map);
    
    var coords = <%=raw @path.coords.to_json() %>;
    
    $.each(coords, function(index, coord){
      position = add_point_to_polyline(coord, polyline);
      map_bounds.extend(position);
    });
    map.fitBounds(map_bounds);
<% end %>

<% content_for :title, @path.name %>

<h2 class="breadcrumb">
	<%= link_to "Home", root_path %>&nbsp;/&nbsp;
	<%= link_to @layer.name, @layer %>&nbsp;/&nbsp;
</h2>

<div class="main-title">

	<%= @path.name %>
	
	<%= map_canvas({:style => " height: 500px;"})%>
	
	<span>
		<%=raw @path.description %>
		<br />
		<%= link_to 'Edit', edit_layer_path_path(@layer, @path), :class => 'edit-link' %>
		&nbsp;
		<%= link_to 'Remove', layer_path_path(@layer, @path), :confirm => 'Are you sure you want to remove this path?', :method => :delete, :class => 'cancel-link' %>
	</span>
</div>
      