<% content_for :js_ready do %>
    <% 
      Point.include_root_in_json = false
    %>
    var point = <%=raw @point.to_json() %>;
    var map = setup_map(point, 10);
    
    var marker = add_point_to_map(point, map, {draggable: true});
        
    google.maps.event.addListener(marker, "drag", function(){
      update_fields(marker.getPosition());
    });
    google.maps.event.addListener(marker, "dragend", function(){
      map.setCenter(marker.getPosition());
    });
<% end %>
<% content_for :js do %>
  function update_fields(latlng){
    $('#point_latitude').val(latlng.lat());
    $('#point_longitude').val(latlng.lng());
  }
<% end %>

<%= form_for([@layer, @point], :html => { :class => 'cmxform'} ) do |f| %>
  <% if @point.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@point.errors.count, "error") %> prohibited this point from being saved:</h2>
    <ul>
    <% @point.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <fieldset>
    <ol>
      <li><%= map_canvas({:style => "height: 300px;"}) %></li>
      <li><%= f.label :name %> <%= f.text_field :name %></li>
      <li><%= f.label :description %>  <%= f.text_area :description %></li>
      <li><%= f.label :layer %> <%= f.collection_select :layer_id, Layer.all, :id, :name %></li>
      <li><%= f.label :latitude %> <%= f.text_field :latitude %></li>
      <li><%= f.label :longitude %> <%= f.text_field :longitude %></li>
    </ol>
  </fieldset>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
