<% if !points.empty? %>
<table cellpadding="0" cellspacing="0" width="100%" class="elements">
 <thead>
	 <tr class="cat_title">
		<th style="text-align:right;">Name</th>
		<th>Center</th>
		<th style="text-align:left;">Description</th>
		<th>Created</th>
		<th>Updated</th>
		<th></th>
	 </tr>
 </thead>
 <tbody>
 <% points.each do |point| %>
 <tr class="<%= cycle('odd', 'even') %>">
  <td><% link_to [point.layer, point] do %><h2><%= point.name %></h2><% end %></td>
  <td class="center_img"></td>
  <td><p><%=raw point.description %></p></td>
  <td><%= point.created_at.strftime('%D') unless point.created_at.nil? %></td>
  <td><%= point.updated_at.strftime('%D') unless point.updated_at.nil? %></td>
  <td>
    <span>
     <%= link_to 'Edit', edit_layer_point_path(point.layer, point), :class => 'edit-link' %>
     &nbsp;
     <%= link_to 'Remove', layer_point_path(point.layer, point), :confirm => 'Are you sure you want to remove this point?', :method => :delete, :class => 'cancel-link' %>
    </span>
  </td>
 </tr>
 <% end %>
 </tbody>
</table>
<% end %>
<div style="clear:both;"></div>