<% content_for :js_ready do %>
    <% Point.include_root_in_json = false %>
    var point = <%=raw @point.to_json() %>;
    
    var map = setup_map(point, 13);
    add_point_to_map(point, map);
<% end %>

<% content_for :title, @point.name %>

<h2 class="breadcrumb">
	<%= link_to "Home", root_path %>&nbsp;/&nbsp;
	<%= link_to @layer.name, @layer %>&nbsp;/&nbsp;
</h2>

<div class="main-title">

	<%= @point.name %>
	
	<%= map_canvas({:style => "height: 500px;"})%>
	
	<span>
		<%=raw @point.description %>
		<br />
		Latitude: <%= @point.latitude %>, Longitude: <%= @point.longitude %>
		<br />
		<br />
		<%= link_to 'Edit', edit_layer_point_path(@layer, @point), :class => 'edit-link' %>
		&nbsp;
		<%= link_to 'Remove', layer_point_path(@layer, @point), :confirm => 'Are you sure you want to remove this point?', :method => :delete, :class => 'cancel-link' %>
	</span>
</div>