<% content_for :js_ready do %>
    <% Point.include_root_in_json = false %>
    var point = <%=raw @point.to_json() %>;
    
    var map = setup_map(point, 13);
    add_point_to_map(point, map);
<% end %>

<p class="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @point.name %>
</p>

<p>
  <b>Description:</b>
  <%=raw @point.description %>
</p>

<p>
  <b>Layer:</b>
  <%= @point.layer.name %>
</p>

<p>
  <b>Latitude:</b>
  <%= @point.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @point.longitude %>
</p>

<%= map_canvas %>

<%= link_to 'Edit', edit_layer_point_path(@layer, @point) %> |
<%= link_to 'Back', layer_points_path %>
