<% content_for :js_ready do %>
    var point = new google.maps.LatLng(<%= @point.latitude %>,<%= @point.longitude %>);
    var myOptions = {
      zoom: 13,
      center: point,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
    
    var infowindow = new google.maps.InfoWindow({
        content: "<%=raw @point.description %>"
    });
    
    var marker = new google.maps.Marker({
        position: point, 
        map: map,
        title: "<%= @point.name %>"
    });
    
    google.maps.event.addListener(marker, 'click', function() {
      infowindow.open(map, marker);
    })
<% end %>

<p class="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @point.name %>
</p>

<p>
  <b>Description:</b>
  <%=raw @point.description %>
</p>

<p>
  <b>Latitude:</b>
  <%= @point.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @point.longitude %>
</p>

<%= map_canvas %>

<%= link_to 'Edit', edit_point_path(@point) %> |
<%= link_to 'Back', points_path %>
