<% if !polygons.empty? %>
<table cellpadding="0" cellspacing="0" width="100%" class="elements">
 <thead>
	 <tr class="cat_title">
		<th style="text-align:right;">Name</th>
		<th>Center</th>
		<th style="text-align:left;">Description</th>
		<th>Created</th>
		<th>Updated</th>
		<th></th>
	 </tr>
 </thead>
 <tbody>
 <% polygons.each do |polygon| %>
 <tr class="<%= cycle('odd', 'even') %>">
  <td><%= link_to [polygon.layer, polygon] do %><h2><%= polygon.name %></h2><% end %></td>
  <td class="center_img"></td>
  <td><p><%=raw polygon.description %></p></td>
  <td><%= polygon.created_at.strftime('%D') unless polygon.created_at.nil? %></td>
  <td><%= polygon.updated_at.strftime('%D') unless polygon.updated_at.nil? %></td>
  <td>
    <span>
     <%= link_to 'Edit', edit_layer_polygon_path(polygon.layer, polygon), :class => 'edit-link' %>
     &nbsp;
     <%= link_to 'Remove', layer_polygon_path(polygon.layer, polygon), :confirm => 'Are you sure you want to remove this polygon?', :method => :delete, :class => 'cancel-link' %>
    </span>
  </td>
 </tr>
 <% end %>
 </tbody>
</table>
<% end %>
<div style="clear:both;"></div>