<h1>Listing polygons</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Layer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @polygons.each do |polygon| %>
  <tr>
    <td><%= polygon.name %></td>
    <td><%= polygon.description %></td>
    <td><%= polygon.layer.name %></td>
    <td><%= link_to 'Show', [@layer, polygon] %></td>
    <td><%= link_to 'Edit', edit_layer_polygon_path(@layer, polygon) %></td>
    <td><%= link_to 'Destroy', [@layer, polygon], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Polygon', new_layer_polygon_path %>
