<% content_for :js_ready do %>
    <% 
      Point.include_root_in_json = false
      Coord.include_root_in_json = false
      point = midpoint(@polygon.coords)
     %>
    var point = <%=raw point.to_json() %>;
    
    var map = setup_map(point, 1);
    var polygon = new google.maps.Polygon();
    var map_bounds = new google.maps.LatLngBounds();
    
    polygon.setMap(map);
    
    var coords = <%=raw @polygon.coords.to_json() %>;
    
    $.each(coords, function(index, coord){
      position = add_point_to_polygon(coord, polygon);
      map_bounds.extend(position);
    });
    map.fitBounds(map_bounds);
<% end %>

<% content_for :title, @polygon.name %>

<h2 class="breadcrumb">
	<%= link_to "Home", root_path %>&nbsp;/&nbsp;
	<%= link_to @layer.name, @layer %>&nbsp;/&nbsp;
</h2>

<div class="main-title">

	<%= @polygon.name %>
	
	<%= map_canvas({:style => " height: 500px;"})%>
	
	<span>
		<%=raw @polygon.description %>
		<br />
		<%= link_to 'Edit', edit_layer_polygon_path(@layer, @polygon), :class => 'edit-link' %>
		&nbsp;
		<%= link_to 'Remove', layer_polygon_path(@layer, @polygon), :confirm => 'Are you sure you want to remove this polygon?', :method => :delete, :class => 'cancel-link' %>
	</span>
</div>
