<%= form_for(@layer, :html => { :class => 'cmxform'} ) do |f| %>
  <% if @layer.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@layer.errors.count, "error") %> prohibited this layer from being saved:</h2>
    <ul>
    <% @layer.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <fieldset>
    <ol>
      <li><%= f.label :name %> <%= f.text_field :name %></li>
      <li><%= f.label :description %>  <%= f.text_area :description %></li>
      <li><%= f.label :color %> <%= f.text_field :color %></li>
    </ol>
  </fieldset>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
