<% content_for :js do %>
  //Global Variables
  var map; //The map!
  var points_on_map; //Total number of objects on the map
<% end %>
<% content_for :js_ready do %>
  <% Point.include_root_in_json = false %>
  var midpoint = <%=raw midpoint(@layer.points).to_json() %>;
  
  map = setup_map(midpoint, 0);
  points_on_map = 0;
  
  $.getJSON('<%= layer_path(:format => :js) %>', function(data) {
    var map_bounds = new google.maps.LatLngBounds();
    $.each(data.layer.points, function(index, point){
      marker = add_point_to_map(point, map);
      map_bounds.extend(marker.position);
      points_on_map++;
    });
    $.each(data.layer.paths, function(index, path){
      var polyline = new google.maps.Polyline();
      polyline.setMap(map);
      
      $.each(path.coords, function(index, coord){
        pos = add_point_to_polyline(coord, polyline);
        map_bounds.extend(pos);
        points_on_map++;
      });
      
    });
    $.each(data.layer.polygons, function(index, polygon_data){
      var polygon = new google.maps.Polygon();
      polygon.setMap(map);
      $.each(polygon_data.coords, function(index, coord){
        add_point_to_polygon(coord, polygon);
        map_bounds.extend(pos);
        points_on_map++;
      });
    });
    if(points_on_map > 1){
      map.fitBounds(map_bounds);
    }
  });
<% end %>

<% content_for :title, @layer.name %>

<h2 class="breadcrumb">
	<%= link_to "Home", root_path %>&nbsp;/&nbsp;
</h2>

<div class="main-title">

	<%= @layer.name %>
	
	<%= map_canvas({:style => " height: 500px;"})%>
	
	<span>
		<%= @layer.description %>
		<br />
		<%= link_to 'Edit', edit_layer_path(@layer), :class => 'edit-link' %>
		&nbsp;
		<%= link_to 'Remove', layer_path(@layer), :confirm => 'Are you sure you want to remove this layer?', :method => :delete, :class => 'cancel-link' %>
	</span>
</div>

<div class="hr_dl flush"><%= image_tag("bl.png", :alt => "") %></div>

<br />

<div class="mc-indent">
	<h2 id="points">Points <%= link_to 'Add', new_layer_point_path(@layer), :class => "link-button" %></h2>
	<div>
	  <%= render :partial => 'points/index', :locals => {:points => @layer.points} %>
	</div>
	<br />
  
  <h2 id="paths">Paths <%= link_to 'Add', new_layer_path_path(@layer), :class => "link-button" %></h2>
	<div>
	  <%= render :partial => 'paths/index', :locals => {:paths => @layer.paths} %>
	</div>
	<br />
	
  <h2 id="polygons">Polygons <%= link_to 'Add', new_layer_polygon_path(@layer), :class => "link-button" %></h2>
	<div>
	  <%= render :partial => 'polygons/index', :locals => {:polygons => @layer.polygons} %>
	</div>
	<br />
	
</div>

