<% content_for :js_ready do %>
  <% Point.include_root_in_json = false %>
  var midpoint = <%=raw midpoint(@layer.points).to_json() %>;
  
  var map = setup_map(midpoint, 0);
  $.getJSON('<%= layer_path(:format => :js) %>', function(data) {
    var map_bounds = new google.maps.LatLngBounds();
    $.each(data.layer.points, function(index, point){
      marker = add_point_to_map(point, map);
      map_bounds.extend(marker.position);
    });
    if(data.layer.points.length > 1){
      map.fitBounds(map_bounds);
    }
  });
<% end %>

<p class="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @layer.name %>
</p>

<p>
  <b>Description:</b>
  <%= @layer.description %>
</p>

<p>
  <b>Color:</b>
  <span style="background-color: <%= @layer.color %>;">
    <%= @layer.color %>
  </span>
</p>

<%= map_canvas %>


<%= link_to 'Edit', edit_layer_path(@layer) %> |
<%= link_to 'Back', layers_path %>
