<% content_for :js do %>
  //Global Variables
  var map; //The map!
  var points_on_map; //Total number of objects on the map
<% end %>
<% content_for :js_ready do %>
  <% Point.include_root_in_json = false %>
  var midpoint = <%=raw midpoint(@layer.points).to_json() %>;
  
  map = setup_map(midpoint, 0);
  points_on_map = 0;
  
  $.getJSON('<%= layer_path(:format => :js) %>', function(data) {
    var map_bounds = new google.maps.LatLngBounds();
    $.each(data.layer.points, function(index, point){
      marker = add_point_to_map(point, map);
      map_bounds.extend(marker.position);
      points_on_map++;
    });
    $.each(data.layer.paths, function(index, path){
      var polyline = new google.maps.Polyline();
      polyline.setMap(map);
      
      $.each(path.coords, function(index, coord){
        pos = add_point_to_polyline(coord, polyline);
        map_bounds.extend(pos);
        points_on_map++;
      });
      
    });
    $.each(data.layer.polygons, function(index, polygon_data){
      var polygon = new google.maps.Polygon();
      polygon.setMap(map);
      $.each(polygon_data.coords, function(index, coord){
        add_point_to_polygon(coord, polygon);
        map_bounds.extend(pos);
        points_on_map++;
      });
    });
    if(points_on_map > 1){
      map.fitBounds(map_bounds);
    }
  });
<% end %>

<p class="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @layer.name %>
</p>

<p>
  <b>Description:</b>
  <%= @layer.description %>
</p>

<p>
  <b>Color:</b>
  <span style="background-color: <%= @layer.color %>;">
    <%= @layer.color %>
  </span>
</p>

<%= map_canvas %>


<%= link_to 'Edit', edit_layer_path(@layer) %> |
<%= link_to 'Back', layers_path %>
